# Supabase Configuration
# Replace these values with your actual Supabase Project URL and Anon API Key.
# For local development, create a copy named '.env' or '.env.local' in the root.

VITE_SUPABASE_URL=https://mygsspbydmllosdjmzgy.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15Z3NzcGJ5ZG1sbG9zZGptemd5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEwMTE2OTMsImV4cCI6MjA5NjU4NzY5M30.Lj9XfdxaLDvIz3Gv-j5xj6fZtH_TA-1bkwLAvtNbX-s
